body {
    margin : 0 0 0 0 ;
}
#pano_container {
    width: 100%;
    height: 100%;
    position: relative;
    margin: auto;
}
#pano {
    width: 100%;
    height: 100%;
    z-index: 0;
}
#pano_container iframe {
    width: 100px;
    height: 36px;
    z-index: 1;
    position: absolute;
    top: 132px;
    left: 200px;
}
#status_tapisserie {
    width: 200px;
    height: 40px;
    position: absolute;
    z-index: 2;
    top: 132px;
    left: 400px;
    text-align: center;
    color: #000;
    background:red;
    line-height: 36px;
}

